<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Admin Page</title>
    </h:head>
    <h:body class="fixed-left">
  <!-- Begin page -->
        <div id="wrapper">
            <ui:insert name="Header">
                <ui:include src="MasterPage.xhtml" />
            </ui:insert>                       
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">                       
                        <div class="row">
                            <div class="col-lg-12 col-xl-4">
                                <div class="card-box">
                                    <div class="bar-widget">
                                        <div class="table-box">
                                            <div class="table-detail">
                                                <div class="iconbox bg-info">
                                                    <i class=" ti-stats-up"></i>
                                                </div>
                                            </div>
                                            <div class="table-detail">
                                                <h4 class="m-t-0 m-b-5"><b>12560</b></h4>
                                                <p class="text-muted m-b-0 m-t-0">Total Policy Purchased</p>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-4">
                                <div class="card-box">
                                    <div class="bar-widget">
                                        <div class="table-box">
                                            <div class="table-detail">
                                                <div class="iconbox bg-custom">
                                                    <i class=" ti-stats-up"></i>
                                                </div>
                                            </div>
                                            <div class="table-detail">
                                                <h4 class="m-t-0 m-b-5"><b>356</b></h4>
                                                <p class="text-muted m-b-0 m-t-0">Total Claims</p>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-4">
                                <div class="card-box">
                                    <div class="bar-widget">
                                        <div class="table-box">
                                            <div class="table-detail">
                                                <div class="iconbox bg-danger">
                                                    <i class=" ti-stats-up"></i>
                                                </div>
                                            </div>
                                            <div class="table-detail">
                                                <h4 class="m-t-0 m-b-5"><b>96562</b></h4>
                                                <p class="text-muted m-b-0 m-t-0">Approved Claims</p>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<h4 class="text-dark header-title m-t-0 m-b-30">Sales</h4>
 <div class="row">
                            <div class="col-lg-12 col-xl-4">
                                <div class="card-box">
                                    <div class="bar-widget">
                                        <div class="table-box">
                                            <div class="table-detail">
                                                <div class="iconbox bg-info">
                                                    <i class=" ti-stats-up"></i>
                                                </div>
                                            </div>
                                            <div class="table-detail">
                                                <h4 class="m-t-0 m-b-5"><b>12560</b></h4>
                                                <p class="text-muted m-b-0 m-t-0">Today</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-4">
                                <div class="card-box">
                                    <div class="bar-widget">
                                        <div class="table-box">
                                            <div class="table-detail">
                                                <div class="iconbox bg-custom">
                                                    <i class=" ti-stats-up"></i>
                                                </div>
                                            </div>
                                            <div class="table-detail">
                                                <h4 class="m-t-0 m-b-5"><b>356</b></h4>
                                                <p class="text-muted m-b-0 m-t-0">This Week</p>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-4">
                                <div class="card-box">
                                    <div class="bar-widget">
                                        <div class="table-box">
                                            <div class="table-detail">
                                                <div class="iconbox bg-danger">
                                                    <i class=" ti-stats-up"></i>
                                                </div>
                                            </div>
                                            <div class="table-detail">
                                                <h4 class="m-t-0 m-b-5"><b>96562</b></h4>
                                                <p class="text-muted m-b-0 m-t-0">This Month</p>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <!-- end row -->
                        <div class="row">
                            <div class="col-12">
                                <div class="portlet"><!-- /primary heading -->
                                    <div class="portlet-heading">
                                        <h3 class="portlet-title text-dark text-uppercase">
                                            Today's Claim Request
                                        </h3>
                                        <div class="portlet-widgets">
                                            <a href="javascript:;" data-toggle="reload"><i class="fa fa-refresh"></i></a>
                                            <span class="divider"></span>
                                            <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="fa fa-minus"></i></a>
                                            <span class="divider"></span>
                                            <a href="#" data-toggle="remove"><i class="fa fa-times"></i></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div id="portlet2" class="panel-collapse collapse show">
                                        <div class="portlet-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>User Name</th>
                                                        <th>Policy Certificate Number</th>
                                                        <th>Description</th>
                                                        <th>Status</th>
                                                        <th>Claim Type</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Aayushi</td>
                                                        <td>956783</td>
                                                        <td>10 years Completed</td>
                                                        <td><span class="label label-info">Requested</span></td>
                                                        <td>Life Insurance</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Ubold Frontend v1</td>
                                                        <td>01/01/2015</td>
                                                        <td>26/04/2015</td>
                                                        <td><span class="label label-success">Released</span></td>
                                                        <td>Coderthemes</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Ubold Admin v1.1</td>
                                                        <td>01/05/2015</td>
                                                        <td>10/05/2015</td>
                                                        <td><span class="label label-pink">Pending</span></td>
                                                        <td>Coderthemes</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="portlet"><!-- /primary heading -->
                                    <div class="portlet-heading">
                                        <h3 class="portlet-title text-dark text-uppercase">
                                            Today's Contact Request
                                        </h3>
                                        <div class="portlet-widgets">
                                            <a href="javascript:;" data-toggle="reload"><i class="fa fa-refresh"></i></a>
                                            <span class="divider"></span>
                                            <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="fa fa-minus"></i></a>
                                            <span class="divider"></span>
                                            <a href="#" data-toggle="remove"><i class="fa fa-plus"></i></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div id="portlet2" class="panel-collapse collapse show">
                                        <div class="portlet-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>User Name</th>
                                                        <th>Policy Certificate Number</th>
                                                        <th>Description</th>
                                                        <th>Status</th>
                                                        <th>Claim Type</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Aayushi</td>
                                                        <td>956783</td>
                                                        <td>10 years Completed</td>
                                                        <td><span class="label label-info">Requested</span></td>
                                                        <td>Life Insurance</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Ubold Frontend v1</td>
                                                        <td>01/01/2015</td>
                                                        <td>26/04/2015</td>
                                                        <td><span class="label label-success">Released</span></td>
                                                        <td>Coderthemes</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Ubold Admin v1.1</td>
                                                        <td>01/05/2015</td>
                                                        <td>10/05/2015</td>
                                                        <td><span class="label label-pink">Pending</span></td>
                                                        <td>Coderthemes</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div> <!-- container -->
                </div> <!-- content -->                
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->            
        </div>
        <!-- END wrapper -->        
    </h:body>
</html>