<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>        
        <title>Profile</title>
    </h:head>
    <h:body class="fixed-left">
         <!-- Begin page -->
        <div id="wrapper">
            <ui:insert name="Header">
                <ui:include src="MasterPage.xhtml" />
            </ui:insert>                                   
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                        <!-- Page-Title -->                        
                        <div class="row">
                            <div class="col-md-4 col-lg-6">
                                <div class="profile-detail card-box">
                                    <div>
                                        <img src="../assets1/images/avatar-2.jpg" class=" myProfileImg" alt="profile-image"/>                     
                                        <hr/>
                                        Name:<br/>
                                        Phone no.:<br/>
                                        Email:<br/>
                                    </div>
                                </div>                                
                            </div>
                            <div class="col-lg-6 col-md-8">                                
                                <div class="card-box">        
                                    <h4><b>Personal Details</b></h4>
                                    <hr/>                                    
                                    Address:<br/>
                                    Gender:<br/>
                                    DoB:<br/>
                                    Age:<br/>    
                                    Role:<br/>
                                    City:<br/>
                                    State:<br/>
                                    Pincode:<br/>
                                </div>                                
                            </div>
                            <div class="col-lg-6">
                                <div class="card-box">        
                                    <h4><b>Bank Details</b></h4>
                                    <hr/>
                                    Bank Name:<br/>
                                    Account Type:<br/>
                                    Account No.:<br/>
                                    Branch:<br/>
                                    IFSC Code:<br/>                                    
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card-box">        
                                    <h4><b>Education Details</b></h4>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            LC:<br/>
                                            <img src="../assets1/images/avatar-2.jpg" class="myotherimg"/>
                                        </div>                                        
                                        <div class="col-lg-6">
                                            Mark Sheet:<br/>
                                            <img src="../assets1/images/avatar-2.jpg" class="myotherimg"/>
                                        </div>
                                    </div>                                  
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card-box">        
                                    <h4><b>Family Details</b></h4>
                                    <hr/>
                                    Name:<br/>
                                    Relation:<br/>                                    
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card-box">        
                                    <h4><b>Occupation Details</b></h4>
                                    <hr/>
                                    Occupation:<br/>
                                    Office Address:<br/>                                    
                                    Office Phone No.:<br/>
                                </div>
                            </div>
                        </div>
                    </div> <!-- container -->
                </div> <!-- content -->
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->
    </h:body>
</html>