<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
    </h:head>
    <h:body>
        <!-- Top Bar Start -->
            <div class="topbar">
                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="text-center">
                        <a href="AdminPage.jsf" class="logo"><i class="icon-c-logo">AV</i><span>AV<sub>Insurance</sub></span></a>                       
                    </div>
                </div>
                <!-- Button mobile view to collapse sidebar menu -->
                <nav class="navbar-custom">
                    <ul class="list-inline float-right mb-0">                                                
                        <li class="list-inline-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <img src="../assets1/images/avatar-1.jpg" alt="user" class="rounded-circle"/>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                                <!-- item-->
                               <div class="dropdown-item noti-title">
                                    <h5 class="text-overflow"><small>#{homebean.username}</small> </h5>
                                </div>
                                <!-- item-->
                                <a href="AdminProfile.jsf" class="dropdown-item notify-item">
                                    <i class="fa fa-user-circle"></i> <span>Profile</span>
                                </a>                               
                                <h:form>
                                    <h:commandLink  action="#{loginbean.Adminlogout()}" class="dropdown-item notify-item"> 
                                    <i class="fa fa-power-off"></i> <span>Logout</span>
                                </h:commandLink>
                                </h:form>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left waves-light waves-effect">
                                <i class="ti-menu"></i>
                            </button>
                        </li>
                        
                    </ul>
                </nav>
            </div>
            <!-- Top Bar End -->
    </h:body>
</html>