<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>               
                            <li class="has_sub">
                                <a href="BankDetails.jsf" class="waves-effect"><i class=" ti-layout-cta-center"></i> <span>Bank Details</span></a>
                            </li>
                            <li class="has_sub">
                                <a href="City.jsf" class="waves-effect"><i class="ti-home"></i> <span> City</span></a>
                            </li>
                            <li class="has_sub">
                                <a href="ContactUs.jsf" class="waves-effect"><i class=" ti-headphone-alt"></i> <span>Contact Us</span></a>
                            </li>
                            <li class="has_sub">
                                <a href="AdminPage.jsf" class="waves-effect"><i class=" ti-dashboard"></i> <span> Dashboard</span></a>								       
                            </li>
                            <li class="has_sub">
                                <a href="EducationDetails.jsf" class="waves-effect"><i class=" ti-book"></i> <span>Education Details</span></a>                                
                            </li>
                            <li class="has_sub">
                                <a href="FamilyDetails.jsf" class="waves-effect"><i class=" ti-facebook"></i> <span>Family Details</span></a>                                
                            </li>
                            <li class="has_sub">
                                <a href="HealthInfo.jsf" class="waves-effect"><i class=" ti-pulse"></i> <span> Health Info</span></a>
                            </li>
                            <li class="has_sub">
                                <a href="Id_Proff.jsf" class="waves-effect"><i class=" ti-id-badge"></i> <span> Id Proof</span></a>
                            </li>
                            <li class="has_sub">
                                <a href="Id_proff_master.jsf" class="waves-effect"><i class=" ti-notepad"></i> <span>Id Proof Master</span></a>                                
                            </li>
                            <li class="has_sub">
                                <a href="InsuranceType.jsf" class="waves-effect"><i class=" ti-server"></i> <span>Insurance Type</span></a>                                
                            </li>
                            <li class="has_sub">
                                <a href="LifeClaim.jsf" class="waves-effect"><i class=" ti-check-box"></i> <span>Life Claim</span></a>
                            </li>
                            <li class="has_sub">
                                <a href="OccupationMaster.jsf" class="waves-effect"><i class=" ti-briefcase"></i> <span>Occupation Master</span></a>                                
                            </li>
                            <li class="has_sub">
                                <a href="PersonalDetails.jsf" class="waves-effect"><i class=" ti-save"></i> <span>Personal Details</span></a>                                
                            </li>
                            <li class="has_sub">
                                <a href="PolicyDetails.jsf" class="waves-effect"><i class=" ti-agenda"></i> <span>Policy Details</span></a>                                
                            </li>
                            <li class="has_sub">
                                <a href="PremiumDetails.jsf" class="waves-effect"><i class=" ti-write"></i> <span>Premium Details</span></a>                                
                            </li>
                            <li class="has_sub">
                                <a href="RelationDetail.jsf" class="waves-effect"><i class=" ti-unlink"></i> <span>Relation Details</span></a>                                
                            </li>                            
                            <li class="has_sub">
                                <a href="State.jsf" class="waves-effect"><i class="ti-home"></i> <span>State</span></a>
                            </li>                            
                            <li class="has_sub">
                                <a href="UserPolicyDetails.jsf" class="waves-effect"><i class="fa fa-address-card-o"></i> <span>User Policy Details</span></a>                                
                            </li>                            
                            <li class="has_sub">
                                <a href="UserRole.jsf" class="waves-effect"><i class="fa fa-address-book-o"></i> <span>User role</span></a>
                            </li>
                            <li class="has_sub">
                                <a href="VehicleClaim.jsf" class="waves-effect"><i class=" ti-wheelchair"></i> <span>vehicle Claim</span></a>
                            </li>
                            <li class="has_sub">
                                <a href="VehicleDetails.jsf" class="waves-effect"><i class=" ti-layout-cta-right"></i> <span>vehicle Details</span></a>                                
                            </li>                                                                                  
                            <li class="has_sub">
                                <a href="WishList.jsf" class="waves-effect"><i class="ti-view-list-alt"></i> <span>WishList</span></a> 
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Left Sidebar End -->
    </h:body>
</html>