<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>        
        <title>City Form</title>        
    </h:head>
    <h:body class="fixed-left">
        <!-- Begin page -->
        <div id="wrapper">
            <ui:insert name="Header">
                <ui:include src="MasterPage.xhtml" />
            </ui:insert>
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
<h4 class="header-title m-t-0">City form</h4>                                    
                        <!-- Page-Title -->                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <h:form>
<!--                                        Required removed from this form-->                                       
                                        <div class="form-group">
                                            City Name<span class="text-danger"> *</span>
                                            <h:inputText class="form-control"  value="#{city_state_bean.cityname}" autocomplete="off" required="true" requiredMessage="Name is required.."/>
                                        </div>  
                                        <div class="form-group">
                                            State<span class="text-danger"> *</span>
                                            <h:selectOneMenu value="#{city_state_bean.sid}" class="form-control">
                                                <f:selectItem itemLabel="Select State" itemValue="" noSelectionOption="true"/>
                                                <f:selectItems var="states" value="#{city_state_bean.getState()}" itemLabel="#{states.stateName}" itemValue="#{states.stateId}" />                                                
                                            </h:selectOneMenu>
                                        </div>
                                        <div class="form-group text-right m-b-0">
                                            <h:inputHidden value="#{city_state_bean.cityid}"/>
                                            <h:commandButton class="btn btn-primary" value="Submit" action="#{city_state_bean.insertCity()}"/>  
                                        </div>
                                    </h:form>
                                </div> <!-- end card-box -->
                            </div>
                            <!-- end col -->                            
                        </div>
                        <!-- end row -->
                    </div> <!-- container -->
                </div> <!-- content -->
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->        
        <script type="text/javascript" src="../plugins/parsleyjs/parsley.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('form').parsley();
            });
        </script>
    </h:body>
</html>