<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <h:head>
        <title>Health Information</title>
        <!-- Plugin Css-->
        <link rel="stylesheet" href="../plugins/magnific-popup/css/magnific-popup.css" />
        <link rel="stylesheet" href="../plugins/jquery-datatables-editable/dataTables.bootstrap4.min.css" />
    </h:head>
    <h:body class="fixed-left">        
        <!-- Begin page -->
        <div id="wrapper">
           <ui:insert name="Header">
                <ui:include src="MasterPage.xhtml" />
            </ui:insert>            
 <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
           <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                        <!-- Page-Title -->                       
                    <h:form>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">                                    
                                    <div class="row">
                                        <div class="col-sm-10">
                                        <h4 class="m-t-0 header-title"><b>Health Information</b></h4>
                                        </div>                                        
                                    </div>                                    
                                    <h:dataTable  value="#{beanInsuranceTB.GetInsurance()}" var="ins" class="table table-striped add-edit-table" id="datatable-editable">                                                        
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="User Name"/>
                                            </f:facet>
                                            <h:outputText value="" />
                                        </h:column>                                        
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Diseaes"/>
                                            </f:facet>
                                            <h:outputText value="" />
                                        </h:column>                           
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Description"/>
                                            </f:facet>
                                            <h:outputText value="" />
                                        </h:column>                           
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Document"/>
                                            </f:facet>
                                            <h:outputText value="" />
                                        </h:column>                                                                   
                                    </h:dataTable>
                                </div>
                            </div>
                            <!-- end: page hey ruk mara thi kem nai thtu -->
                        </div> <!-- end Panel -->
                    </h:form>
                    </div> <!-- container -->
                </div> <!-- content -->
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->                                           
        </div>      
    </h:body>
</html>