<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <h:head>
        <title>Id Proff Master</title>
        <!-- Plugin Css-->
        <link rel="stylesheet" href="../plugins/magnific-popup/css/magnific-popup.css" />
        <link rel="stylesheet" href="../plugins/jquery-datatables-editable/dataTables.bootstrap4.min.css" />
    </h:head>
    <h:body class="fixed-left">        
        <!-- Begin page -->
        <div id="wrapper">
           <ui:insert name="Header">
                <ui:include src="MasterPage.xhtml" />
            </ui:insert>            
 <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
           <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                        <!-- Page-Title -->                       
                    <h:form>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">                                    
                                    <div class="row">
                                        <div class="col-sm-10">
                                        <h4 class="m-t-0 header-title"><b>Id Proof Master</b></h4>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="m-b-30">
                                                    <h:commandLink action="Id_Proof_Master_Form.jsf" value="Add" class="btn btn-success waves-effect waves-light"> <i class="fa fa-plus-circle"></i> </h:commandLink>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <h:dataTable  value="#{proofmaster_bean.getMasterProof()}" var="mids" class="table table-striped add-edit-table" id="datatable-editable">                                                        
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Id Proof Type"/>
                                            </f:facet>
                                            <h:outputText value="#{mids.name}" />
                                        </h:column>                                        
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Action"/>
                                            </f:facet>
                                            <h:commandLink action="#{proofmaster_bean.dataOfProof(mids.masterProofId)}" class="on-default edit-row" title="Edit"> <i class="fa fa-pencil"></i> </h:commandLink> &nbsp;&nbsp;&nbsp;
                                            <h:commandLink action="#{proofmaster_bean.removeMasterProof()}" class="on-default remove-row" title="Delete">  <f:setPropertyActionListener value="#{mids.masterProofId}" target="#{proofmaster_bean.masterid}"/> <i class="fa fa-trash-o"></i> </h:commandLink>
                                        </h:column>
                                    </h:dataTable>
                                </div>
                            </div>
                            <!-- end: page hey ruk mara thi kem nai thtu -->
                        </div> <!-- end Panel -->
                    </h:form>
                    </div> <!-- container -->
                </div> <!-- content -->
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->                                           
        </div>      
    </h:body>
</html>