<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="../assets1/images/favicon.ico"/>
        <link href="../assets1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets1/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="../assets1/css/style.css" rel="stylesheet" type="text/css" />
        <script src="../assets1/js/modernizr.min.js"></script>
        <link href="../css/MyCss.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
        <ui:insert name="Header">
            <ui:include src="AdminHeader.xhtml"/>
        </ui:insert>
        <ui:insert name="LeftSideBar">
            <ui:include src="AdminLeftSideBar.xhtml"/>
        </ui:insert>
         <script>
            var resizefunc = [];
        </script>
        <!-- jQuery  -->
        <script src="../assets1/js/jquery.min.js"></script>
        <script src="../assets1/js/popper.min.js"></script><!-- Popper for Bootstrap -->
        <script src="../assets1/js/bootstrap.min.js"></script>
        <script src="../assets1/js/detect.js"></script>
        <script src="../assets1/js/fastclick.js"></script>
        <script src="../assets1/js/jquery.slimscroll.js"></script>
        <script src="../assets1/js/jquery.blockUI.js"></script>
        <script src="../assets1/js/waves.js"></script>
        <script src="../assets1/js/wow.min.js"></script>
        <script src="../assets1/js/jquery.nicescroll.js"></script>
        <script src="../assets1/js/jquery.scrollTo.min.js"></script>
        <!-- Examples -->
        <script src="../plugins/magnific-popup/js/jquery.magnific-popup.min.js"></script>
        <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="../plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="../plugins/tiny-editable/mindmup-editabletable.js"></script>
        <script src="../plugins/tiny-editable/numeric-input-example.js"></script>
        <!-- App js -->
        <script src="../assets1/js/jquery.core.js"></script>
        <script src="../assets1/js/jquery.app.js"></script>
        <script src="../assets1/pages/datatables.editable.init.js"></script>       
    </h:body>
</html>