<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Policy Form</title>
    </h:head>
    <h:body class="fixed-left">
        <!-- Begin page -->
        <div id="wrapper">
            <ui:insert name="Header">
                <ui:include src="MasterPage.xhtml" />
            </ui:insert>
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
<h4 class="header-title m-t-0">Policy form</h4>                                    
                        <!-- Page-Title -->                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <h:form>
<!--                                        Required removed from this form-->                                       
                                        <div class="form-group">
                                            Policy Name<span class="text-danger"> *</span>
                                            <h:inputText class="form-control" value="#{policy_bean.name}" autocomplete="off" required="true" requiredMessage="Name is required.."/>
                                        </div> 
                                        <div class="form-group">
                                            Insurance Type<span class="text-danger"> *</span>
                                            <h:selectOneMenu value="#{policy_bean.insuranceid}" title="Select Insurance" class="form-control">
                                                <f:selectItem itemLabel="Select Insurance" itemValue="" noSelectionOption="true"/>
                                                <f:selectItems var="ins" value="#{insurance_bean.GetInsurance()}" itemLabel="#{ins.insuranceName}" itemValue="#{ins.insuranceId}" />
                                                
                                            </h:selectOneMenu>
                                        </div>
                                        <div class="form-group">
                                            Max Term<span class="text-danger"> *</span>
                                            <h:inputText class="form-control" value="#{policy_bean.term}" />
                                        </div>
                                        <div class="form-group">
                                            Premium (Yearly)<span class="text-danger"> *</span>
                                            <h:inputText class="form-control" value="#{policy_bean.year}" />
                                        </div> 
                                        <div class="form-group">                                           
                                           Description
                                           <h:inputTextarea class="form-control" value="#{policy_bean.desc}"/>                                            
                                        </div>
                                        <div class="form-group text-right m-b-0">  
                                            <h:inputHidden value="#{policy_bean.policyid}" />
                                            <h:commandButton class="btn btn-primary" value="Submit" action="#{policy_bean.insertPolicies()}"/>  
                                        </div>
                                    </h:form>
                                </div> <!-- end card-box -->
                            </div>
                            <!-- end col -->                            
                        </div>
                        <!-- end row -->
                    </div> <!-- container -->
                </div> <!-- content -->
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->        
        <script type="text/javascript" src="../plugins/parsleyjs/parsley.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('form').parsley();
            });
        </script>
    </h:body>
</html>