<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Relation Detail</title>
        <!-- Plugin Css-->
        <link rel="stylesheet" href="../plugins/magnific-popup/css/magnific-popup.css" />
        <link rel="stylesheet" href="../plugins/jquery-datatables-editable/dataTables.bootstrap4.min.css" />
    </h:head>
    <h:body class="fixed-left">        
        <!-- Begin page -->
        <div id="wrapper">
           <ui:insert name="Header">
                <ui:include src="MasterPage.xhtml" />
            </ui:insert>            
 <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
           <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                        <!-- Page-Title -->                       
                    <h:form>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">                                    
                                    <div class="row">
                                        <div class="col-sm-10">
                                        <h4 class="m-t-0 header-title"><b>Relation Details</b></h4>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="m-b-30">
                                                    <h:commandLink action="RelationForm.jsf" value="Add" class="btn btn-success waves-effect waves-light"> <i class="fa fa-plus-circle"></i> </h:commandLink>
                                            </div>
                                        </div>
                                    </div>                                    
                                   <p:dataTable  value="#{relation_bean.getRelation()}" var="relations" styleClass="table table-striped add-edit-table" id="datatable-editable" 
                                                  rows="10" paginator="true" paginatorPosition="bottom" 
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
                                                     rowsPerPageTemplate="5,10,15" reflow="true">
                                       <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Relation"/>
                                            </f:facet>
                                            <h:outputText value="#{relations.relation   }" />
                                        </p:column>                                        
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Action"/>
                                            </f:facet>
                                            <h:commandLink action="#{relation_bean.getDetails(relations.relationId)}" class="on-default edit-row" title="Edit"> <i class="fa fa-pencil"></i> </h:commandLink> &nbsp;&nbsp;&nbsp;
                                            <h:commandLink action="#{relation_bean.removeRelation()}" class="on-default remove-row" title="Delete"> <f:setPropertyActionListener value="#{relations.relationId}" target="#{relation_bean.relationid}"/> <i class="fa fa-trash-o"></i> </h:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                            <!-- end: page hey ruk mara thi kem nai thtu -->
                        </div> <!-- end Panel -->
                    </h:form>
                    </div> <!-- container -->
                </div> <!-- content -->
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->                                           
        </div>      
    </h:body>
</html>