/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 May, 2020, 4:10:09 PM
    Author     : aayushi
*/
.myPic{
    height: 350px;
}
 .mypaddingtop
 {
     padding-top: 130px;
 }
 .myProfileImg{
     height:220px;
 }
 .myotherimg{
     height: 86px;
 }
 .myNewBanner{
     height:230px;
 }
 .myfooterpadding
 {
     padding-bottom: 1rem !important;
     padding-top: 1rem;
 }
 .myfooterposition{
     padding-top: 2.9rem;
 }
 .loginPic{
     height:30px;
 }
 .changePointer
 {
     cursor: pointer;
 }