<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
       
        <h:form enctype="multipart/form-data">   
        
        Upload LC image:
        
        <h:inputFile value="#{education_bean.lcimg}"/>
        <br/><br/>
        
        Upload Marksheet image:
        <h:inputFile value="#{education_bean.marksheetimg}" />
        <br/><br/>
        
        
        <h:commandButton value="Submit" type="submit" action="#{education_bean.insertEducation()}" />
      <br/><br/><br/>
      
      
      
    </h:form>
        
    </h:body>
</html>

