<!--<?xml version='1.0' encoding='UTF-8' ?>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <title>Markup Template</title>
        <!-- Font Icons -->
        <link media="all" rel="stylesheet" href="css/fonts/icomoon/icomoon.css"/>
        <link media="all" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.css"/>        
        <!-- Bootstrap 4 -->
        <link media="all" rel="stylesheet" href="css/bootstrap.css"/>        
        <!-- Custom CSS -->
        <link media="all" rel="stylesheet" href="css/construction.css"/>
        <link href="css/MyCss.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
<!--        Preloader
    <div class="preloader" id="pageLoad">
        <div class="holder">
            <div class="coffee_cup"></div>
        </div>
    </div>-->
    <!-- main wrapper -->
    <div id="wrapper">         
        <div class="page-wrapper">
            <!-- header of the page -->
             <ui:insert name="Header">
                <ui:include src="Header.xhtml" />
            </ui:insert>  
            <!--/header of the page -->
            <main>
                <div class="banner banner-home">
                    <!-- visual/banner of the page -->
                <section class="visual">
                    <div class="visual-inner portfolio-banner-v1 black-overlay-3 parallax" data-stellar-background-ratio="0.55">
                        <div class="centered">
                            <div class="container">
                                <div class="visual-text visual-center">
                                    <div class="visual-title">
                                        <h1>Car Insurance</h1>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--/visual/banner of the page -->
                </div>
                <!-- main content wrapper -->
                <div class="content-wrapper">
                    <section class="content-block">
                        <div class="container">
                            <div class="row multiple-row">
                               
                                <div class="col-md-6 col-lg-4 changePointer">
                                     <a href="CarPolicy1.jsf">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <h2>Car Policy 5</h2>
                                                <p>
                                                <ul>
                                                    <li>Max Term:1 years</li>
                                                    <li>Premium:1500</li>
                                                    <li>3 party</li>
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                  </a>
                                </div>
                                    
                                <div class="col-md-6 col-lg-4 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <h2><a href="#">Car Policy 1</a></h2>
                                                <p>
                                                <ul>
                                                    <li>Max Term:1 years</li>
                                                    <li>Premium:1500</li>
                                                    <li>3 party</li>
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <h2><a href="#">Car Policy 1</a></h2>
                                                <p>
                                                <ul>
                                                    <li>Max Term:1 years</li>
                                                    <li>Premium:1500</li>
                                                    <li>3 party</li>
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <h2><a href="#">Working Remotely</a></h2>
                                                <span class="content-sub-title">Home office working for you.</span>
                                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Auctor, nisi elit consequat ipsum,</p>
                                                <div class="post-meta clearfix">
                                                    <div class="post-link-holder">
                                                        <a href="#">Read Story <span class="fa fa-arrow-right"><span class="sr-only">&nbsp;</span></span></a>
                                                    </div>
                                                    <div class="post-social text-right">
                                                        <ul class="social-network social-small">
                                                            <li><a href="#"><span class="waituk-icon-facebook"><span class="sr-only">&nbsp;</span></span></a></li>
                                                            <li><a href="#"><span class="waituk-icon-twitter"><span class="sr-only">&nbsp;</span></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <h2><a href="#">Leaving With A Note</a></h2>
                                                <span class="content-sub-title">If you want to get back again.</span>
                                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Auctor, nisi elit consequat ipsum,</p>
                                                <div class="post-meta clearfix">
                                                    <div class="post-link-holder">
                                                        <a href="#">Read Story <span class="fa fa-arrow-right"><span class="sr-only">&nbsp;</span></span></a>
                                                    </div>
                                                    <div class="post-social text-right">
                                                        <ul class="social-network social-small">
                                                            <li><a href="#"><span class="waituk-icon-facebook"><span class="sr-only">&nbsp;</span></span></a></li>
                                                            <li><a href="#"><span class="waituk-icon-twitter"><span class="sr-only">&nbsp;</span></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <h2><a href="#">Break Timings</a></h2>
                                                <span class="content-sub-title">Spending them wisely.</span>
                                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Auctor, nisi elit consequat ipsum,</p>
                                                <div class="post-meta clearfix">
                                                    <div class="post-link-holder">
                                                        <a href="#">Read Story <span class="fa fa-arrow-right"><span class="sr-only">&nbsp;</span></span></a>
                                                    </div>
                                                    <div class="post-social text-right">
                                                        <ul class="social-network social-small">
                                                            <li><a href="#"><span class="waituk-icon-facebook"><span class="sr-only">&nbsp;</span></span></a></li>
                                                            <li><a href="#"><span class="waituk-icon-twitter"><span class="sr-only">&nbsp;</span></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-container full-width-btn top-space">
                                <a href="javascript:void(0)" class="btn btn-black">LOAD MORE<span class="c-ripple js-ripple"><span class="c-ripple__circle"></span></span></a>
                            </div>
                        </div>
                    </section>
                </div>
                <!--/main content wrapper -->
            </main>
        </div>
		<br/>
		<br/>
        <!-- footer of the pagse -->
         <ui:insert name="Footer">
                <ui:include src="Footer.xhtml" />
            </ui:insert>  
    </div>
        <!--/footer of the page -->    
     <!-- search form wrapper -->
    <div class="search-form-wrapper">
        <a href="#" class="nav-search-link close"><span class="waituk-icon-android-close"></span></a>
        <div class="holder">
<!--            <input type="search" class="form-control form-control-v1" placeholder="Enter Your Search">-->
             <button type="submit"><span class="waituk-icon-search"></span></button>
        </div>
    </div>

    <a href="#" class="section-scroll" id="scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- jquery library -->
    <script src="vendors/jquery/jquery-2.1.4.min.js"></script>
    <!-- external scripts -->
    <script src="vendors/popper/popper.min.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/stellar/jquery.stellar.min.js"></script>
    <script src="vendors/isotope/javascripts/isotope.pkgd.min.js"></script>
    <script src="vendors/isotope/javascripts/packery-mode.pkgd.js"></script>
    <script src="vendors/owl-carousel/dist/owl.carousel.js"></script>
    <script src="vendors/waypoint/waypoints.min.js"></script>
    <script src="vendors/counter-up/jquery.counterup.min.js"></script>
    <!--<script src="vendors/fancyBox/source/jquery.fancybox.pack.js"></script>-->
    <!--<script src="vendors/fancyBox/source/helpers/jquery.fancybox-thumbs.js"></script>-->
    <script src="vendors/image-stretcher-master/image-stretcher.js"></script>
    <script src="vendors/wow/wow.min.js"></script>
    <script src="vendors/rateyo/jquery.rateyo.js"></script>
     <script src="vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
     <script src="vendors/bootstrap-slider-master/src/js/bootstrap-slider.js"></script> 
     <script src="vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script> 
    <script src="js/mega-menu.js"></script>
    <!-- custom jquery script -->
    <script src="js/jquery.main.js"></script>
    
    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
     <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
     <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
     <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
     <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.video.min.js"></script> 
    <!-- SNOW ADD ON -->
    <script type="text/javascript" src="vendors/rev-slider/revolution-addons/snow/revolution.addon.snow.min.js"></script>
        <!-- revolutions slider script -->
    <script src="js/revolution.js"></script>    
    </h:body>
</html>