<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 
    <h:head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Claim</title>
    <!-- Font Icons -->
    <link media="all" rel="stylesheet" href="css/fonts/icomoon/icomoon.css"/>
    <link media="all" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.css"/>
    <!-- Vendors -->
    <link media="all" rel="stylesheet" href="vendors/owl-carousel/dist/assets/owl.carousel.min.css"/>
    <link media="all" rel="stylesheet" href="vendors/owl-carousel/dist/assets/owl.theme.default.min.css"/>
    <link media="all" rel="stylesheet" href="vendors/animate/animate.css"/>
    <link media="all" rel="stylesheet" href="vendors/rateyo/jquery.rateyo.css"/>
    <link media="all" rel="stylesheet" href="vendors/bootstrap-datepicker/css/bootstrap-datepicker.css"/>
    <link media="all" rel="stylesheet" href="vendors/fancyBox/source/jquery.fancybox.css"/>
    <link media="all" rel="stylesheet" href="vendors/fancyBox/source/helpers/jquery.fancybox-thumbs.css"/>
    <!-- Bootstrap 4 -->
    <link media="all" rel="stylesheet" href="css/bootstrap.css"/>
    <!-- Theme CSS -->
    <link media="all" rel="stylesheet" href="css/main.css"/>
    <link href="css/MyCss.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
    <!--Preloader-->
    <div class="preloader" id="pageLoad">
        <div class="holder">
            <div class="coffee_cup"></div>
        </div>
    </div>
    <!-- main wrapper -->
    <div id="wrapper">
        <div class="page-wrapper">
            <!-- header of the page -->
            <ui:insert name="Header">
                <ui:include src="Header.xhtml" />
            </ui:insert> 
            <!--/header of the page -->
            <main>                
                <!-- main content wrapper -->
                <div class="content-wrapper">
                    <section class="content-block pb-0">
                        <div class="container">
                            <div class="contact-container">
                                <div class="row">
                                <div class="col-lg-4 flex-lg-first">
                                    <div class="sidebar-wrap mt-5 mt-lg-0 sticky-top">
                                        <div class="widget-block">
                                            <div class="post-block">
                                                <div class="post-holder">
                                                    <a href="#advantages">
                                                    <div class="post-desc">
                                                        <h6>Advantages</h6>
                                                    </div>
                                                    </a>
                                                </div>
                                                <div class="post-holder">
                                                    <a href="#terms">
                                                    <div class="post-desc">
                                                        <h6>Terms And Conditions</h6>
                                                    </div>
                                                    </a>
                                                </div>
                                                <div class="post-holder">
                                                    <a href="#notcovers">
                                                    <div class="post-desc">
                                                        <h6>Policy Not Covers</h6>
                                                    </div>
                                                    </a>
                                                </div>
                                                <div class="post-holder">
                                                    <a href="#claim">
                                                    <div class="post-desc">
                                                        <h6>How to claim</h6>
                                                    </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-lg-6">
                                        <!-- contact form -->
                                        <div id="advantages">
                                        <h4>Advantages</h4>
                                        Hello
                                        </div>
                                        <div id="terms">
                                        <h4>Terms And Conditions</h4>
                                        Hiiiiiii
                                        </div>
                                        <div id="notcovers">
                                        <h4>Policy Not Covers</h4>
                                        Hello
                                        </div>
                                        <div id="claim">
                                        <h4>How to Claim</h4>
                                        Hello
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!--/main content wrapper -->
            </main>
        </div>
        <!-- footer of the pagse -->
        <ui:insert name="Footer">
                <ui:include src="Footer.xhtml" />
            </ui:insert>  
        <!--/footer of the page -->
    </div>
    <!-- search form wrapper -->
    <div class="search-form-wrapper">
        <a href="#" class="nav-search-link close"><span class="waituk-icon-android-close"></span></a>
        <div class="holder">
            <input type="search" class="form-control form-control-v1" placeholder="Enter Your Search"/>
            <button type="submit"><span class="waituk-icon-search"></span></button>
        </div>
    </div>
    <a href="#" class="section-scroll" id="scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- jquery library -->
    <script src="vendors/jquery/jquery-2.1.4.min.js"></script>
    <!-- external scripts -->
    <script src="vendors/popper/popper.min.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/stellar/jquery.stellar.min.js"></script>
    <script src="vendors/isotope/javascripts/isotope.pkgd.min.js"></script>
    <script src="vendors/isotope/javascripts/packery-mode.pkgd.js"></script>
    <script src="vendors/owl-carousel/dist/owl.carousel.js"></script>
    <script src="vendors/waypoint/waypoints.min.js"></script>
    <script src="vendors/counter-up/jquery.counterup.min.js"></script>
    <script src="vendors/fancyBox/source/jquery.fancybox.pack.js"></script>
    <script src="vendors/fancyBox/source/helpers/jquery.fancybox-thumbs.js"></script>
    <script src="vendors/image-stretcher-master/image-stretcher.js"></script>
    <script src="vendors/wow/wow.min.js"></script>
    <script src="vendors/rateyo/jquery.rateyo.js"></script>
    <script src="vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="vendors/bootstrap-slider-master/src/js/bootstrap-slider.js"></script>
    <script src="vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="js/mega-menu.js"></script>
    <!-- custom jquery script -->
    <script src="js/jquery.main.js"></script>

    </h:body>
</html>

