<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 
    <h:head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Claim</title>
    <!-- Font Icons -->
    <link media="all" rel="stylesheet" href="css/fonts/icomoon/icomoon.css"/>
    <link media="all" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.css"/>
    <!-- Vendors -->
    <link media="all" rel="stylesheet" href="vendors/owl-carousel/dist/assets/owl.carousel.min.css"/>
    <link media="all" rel="stylesheet" href="vendors/owl-carousel/dist/assets/owl.theme.default.min.css"/>
    <link media="all" rel="stylesheet" href="vendors/animate/animate.css"/>
    <link media="all" rel="stylesheet" href="vendors/rateyo/jquery.rateyo.css"/>
    <link media="all" rel="stylesheet" href="vendors/bootstrap-datepicker/css/bootstrap-datepicker.css"/>
    <link media="all" rel="stylesheet" href="vendors/fancyBox/source/jquery.fancybox.css"/>
    <link media="all" rel="stylesheet" href="vendors/fancyBox/source/helpers/jquery.fancybox-thumbs.css"/>
    <!-- Bootstrap 4 -->
    <link media="all" rel="stylesheet" href="css/bootstrap.css"/>
    <!-- Theme CSS -->
    <link media="all" rel="stylesheet" href="css/main.css"/>
    </h:head>
    <h:body>
    <!--Preloader-->
    <div class="preloader" id="pageLoad">
        <div class="holder">
            <div class="coffee_cup"></div>
        </div>
    </div>
    <!-- main wrapper -->
    <div id="wrapper">
        <div class="page-wrapper">
            <!-- header of the page -->
            <ui:insert name="Header">
                <ui:include src="Header.xhtml" />
            </ui:insert> 
            <!--/header of the page -->
            <main>                
                <!-- main content wrapper -->
                <div class="content-wrapper">
                    <section class="content-block pb-0">
                        <div class="container">
                            <div class="contact-container">
                                <div class="row">
                                <div class="col-lg-4 flex-lg-first">
                                    <div class="sidebar-wrap mt-5 mt-lg-0 sticky-top">
                                        <div class="widget-block">
                                            <div class="post-block">
                                                <div class="post-holder" onclick="LifeDisplay()">
                                                    <div class="post-desc">
                                                        <h6>Life Claim</h6>
                                                    </div>
                                                </div>
                                                <div class="post-holder" onclick="vehicleDisplay()">
<!--                                                    <a href="#vehicleclaim" class="post-link"></a>-->
                                                    <div class="post-desc">
                                                        <h6>Vehicle Claim</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-lg-6">
                                        <!-- contact form -->
                                        <div id="lifeclaim">
                                        <h4>Life Claim</h4>
                                        
                                        <form action="#" method="post" id="ajklsdfh" class="waituk_contact-form">
                                            <div class="form-group">
                                                Policy certificate Number
                                                <h:inputText class="form-control" id="name1" value="#{beanInsuranceTB.name}" autocomplete="off" required="true" requiredMessage="Name is required.."/>
                                            </div>
                                            <div class="form-group">
                                                Date Of Death
                                                <h:inputText class="form-control" id="name" value="#{beanInsuranceTB.name}" autocomplete="off" required="true" requiredMessage="Name is required.."/>
                                            </div>
                                            <div class="form-group">
                                                Death Certificate
                                                <h:inputFile class="form-control"/>
                                            </div>                                                                                    
                                            <div class="form-group">
                                                Description
                                                 <h:inputTextarea class="form-control" id="desc" value="#{beanInsuranceTB.description}"/>
                                            </div>
                                            <div class="btn-container">
                                                <button id="btn_sent" class="btn btn-primary">Subject</button>
                                                <p id="error_message"> </p>
                                            </div>
                                        </form>
                                    </div>
                                        <div id="vehicleclaim" hidden="true">
                                        <h4>Vehicle Claim</h4>
                                        <h:form>
                                                    <div class="form-group">
                                                        Policy certificate Number
                                                        <h:inputText class="form-control" id="name1" value="#{beanInsuranceTB.name}" autocomplete="off" required="true" requiredMessage="Name is required.."/>
                                                    </div>
                                                    <div class="form-group">
                                                        Certificate Number
                                                        <h:inputText class="form-control" id="nam" value="#{beanInsuranceTB.name}" autocomplete="off" required="true" requiredMessage="Name is required.."/>
                                                    </div>                                        
                                            <div class="form-group">
                                                Description
                                                 <h:inputTextarea class="form-control" id="desc" value="#{beanInsuranceTB.description}"/>
                                            </div>
                                            <div class="btn-container">
                                                <button id="btn_sent" class="btn btn-primary">Subject</button>
                                                <p id="error_message"> </p>
                                            </div>
                                        </h:form>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!--/main content wrapper -->
            </main>
        </div>
        <!-- footer of the pagse -->
        <ui:insert name="Footer">
                <ui:include src="Footer.xhtml" />
            </ui:insert>  
        <!--/footer of the page -->
    </div>
    <!-- search form wrapper -->
    <div class="search-form-wrapper">
        <a href="#" class="nav-search-link close"><span class="waituk-icon-android-close"></span></a>
        <div class="holder">
            <input type="search" class="form-control form-control-v1" placeholder="Enter Your Search"/>
            <button type="submit"><span class="waituk-icon-search"></span></button>
        </div>
    </div>
    <script>
        function vehicleDisplay()
        {
            document.getElementById("vehicleclaim").removeAttribute("hidden");
            document.getElementById("lifeclaim").setAttribute("hidden","true");
        }
        function LifeDisplay()
        {
            document.getElementById("lifeclaim").removeAttribute("hidden");
            document.getElementById("vehicleclaim").setAttribute("hidden","true");
        }
    </script>
    <a href="#" class="section-scroll" id="scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- jquery library -->
    <script src="vendors/jquery/jquery-2.1.4.min.js"></script>
    <!-- external scripts -->
    <script src="vendors/popper/popper.min.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/stellar/jquery.stellar.min.js"></script>
    <script src="vendors/isotope/javascripts/isotope.pkgd.min.js"></script>
    <script src="vendors/isotope/javascripts/packery-mode.pkgd.js"></script>
    <script src="vendors/owl-carousel/dist/owl.carousel.js"></script>
    <script src="vendors/waypoint/waypoints.min.js"></script>
    <script src="vendors/counter-up/jquery.counterup.min.js"></script>
    <script src="vendors/fancyBox/source/jquery.fancybox.pack.js"></script>
    <script src="vendors/fancyBox/source/helpers/jquery.fancybox-thumbs.js"></script>
    <script src="vendors/image-stretcher-master/image-stretcher.js"></script>
    <script src="vendors/wow/wow.min.js"></script>
    <script src="vendors/rateyo/jquery.rateyo.js"></script>
    <script src="vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="vendors/bootstrap-slider-master/src/js/bootstrap-slider.js"></script>
    <script src="vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="js/mega-menu.js"></script>
    <!-- custom jquery script -->
    <script src="js/jquery.main.js"></script>

    </h:body>
</html>

