<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <!-- Required meta tags -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<!-- Bootstrap CSS --> 
		<link rel="stylesheet" href="assets/css/bootstrap.min.css"/>		
		<!-- Boxicons CSS --> 
		<link rel="stylesheet" href="assets/css/boxicons.min.css"/> 		
		<!-- Style CSS -->
		<link rel="stylesheet" href="assets/css/style.css"/>		
                <link href="css/MyCss.css" rel="stylesheet" type="text/css"/>
		<!-- Title -->
		<title>Contact Us</title>
    </h:head>
    <h:body>
	 <ui:insert name="Header">
            <ui:include src="Header.xhtml"/>
        </ui:insert>
        <!-- Start Sign Up Area -->
        <section class="user-area-all-style sign-up-area mypaddingtop">
            <div class="container">
		<div class="row">
                    <div class="col-12">
			<div class="contact-form-action">
                            <div class="form-heading text-center">
                                <h3 class="form-title">Contact Us</h3>
                            </div>
                            <h:form>
				<div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            Name
                                            <h:inputText class="form-control" value="#{contactus_bean.name}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            Email
                                            <h:inputText class="form-control" value="#{contactus_bean.email}"/>
                                        </div>
                                    </div>                                    
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            Subject
                                            <h:inputText class="form-control" value="#{contactus_bean.sub}"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            Message
                                            <h:inputTextarea class="form-control" value="#{contactus_bean.desc}"/>                                            
                                        </div>
                                    </div>
                                    <div class="form-group text-right m-b-0">                                            
                                        <h:commandButton class="btn btn-primary" value="Submit"/>  
                                    </div>
				</div>
                            </h:form>
			</div>
                    </div>
                </div>
            </div>
	</section>
		<!-- End Sign Up Area -->
		<!-- Start Go Top Area -->
	<div class="go-top">
            <i class='bx bx-chevrons-up'></i>
            <i class='bx bx-chevrons-up'></i>
	</div>
		<!-- End Go Top Area --> 		
        <!-- Jquery Slim JS -->
        <script src="assets/js/jquery.min.js"></script>                
	<script src="assets/js/jquery.meanmenu.js"></script>         
	<script src="assets/js/owl.carousel.js"></script>         
	<script src="assets/js/jquery.nice-select.min.js"></script>		 
	<script src="assets/js/jquery.mixitup.min.js"></script>		 
        <script src="assets/js/jquery.appear.js"></script>		 
	<script src="assets/js/custom.js"></script>
    </h:body>
</html>