<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <footer class="myfooterposition footer-v1">
            <div class="myfooterpadding  footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-logo">
                                <b>AV<sub>Insuramce</sub></b><br/>
                            </div>
                        </div>                        
                        <div class="col-md-4">
                            Address<br/>
                                Email<br/>
                                Phone No.
                        </div>
                    </div>
                </div>
            </div>            
        </footer>
    </h:body>
</html>