<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <title>Markup Template</title>
        <!-- Font Icons -->
        <link media="all" rel="stylesheet" href="css/fonts/icomoon/icomoon.css"/>
        <link media="all" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.css"/>        
        <!-- Bootstrap 4 -->
<!--        <link media="all" rel="stylesheet" href="css/bootstrap.css"/>        -->
        <!-- Custom CSS -->
        <link media="all" rel="stylesheet" href="css/construction.css"/>        
        <link href="css/MyCss.css" rel="stylesheet" type="text/css"/>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
       <!-- header of the page -->
            <header class="fixed-top main-header header-white transparent" id="waituk-main-header">
                <div id="nav-section">
                    <div class="bottom-header container-fluid mega-menus" id="mega-menus">
                        <nav class="navbar navbar-expand-lg navbar-toggleable-md no-border-radius no-margin mega-menu-multiple" id="navbar-inner-container">
                            <h:form id="top-search" class="no-margin top-search">
<!--                                action="https://html.waituk.com/roxine/mega-menu-5.html"-->
                                <div class="form-group no-margin">
                                    <h:inputText class="form-control no-border" id="search_term" />
                                    <!--name="search_term" placeholder="Type & Press Enter" type="text"-->
                                </div>                                
                            </h:form>
                            <button type="button" class="navbar-toggler navbar-toggler-left" data-toggle="collapse" data-target="#mega-menu">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <a class="navbar-brand mr-auto m-sm-auto" href="Home.jsf"><font size="5" color="white"> AV<sub>Insurance</sub></font></a>
                            <div class="collapse navbar-collapse flex-row-reverse" id="mega-menu">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a  href="Home.jsf" data-title="Home"> Home </a>
                                    </li>
                                    <li>
                                        <a  href="Home.jsf#AboutUs" data-title="Home"> About Us </a>
                                    </li>
                                    <li>
                                        <a  href="Home.jsf#Insurance" data-title="Home"> Insurance </a>
                                    </li>
                                    <li>
                                        <a  href="Home.jsf#Policies" data-title="Home"> Policy </a>
                                    </li>
                                    <li>
                                        <a  href="claimWithOptions.jsf" data-title="Claim Form"> Claim </a>
                                    </li>                                    
                                     <li>
                                         <a  href="ContactUs.jsf" data-title="Contact US"> Contact Us </a>
                                    </li>

                                    <h:form>                                        
                                        <h:panelGroup rendered="#{not empty session.getAttribute('username')}"> 
                                            <li class="dropdown cart-list margin-0-sm">
  
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="d-lg-none"> Shopping Cart </span><img src="assets1/images/avatar-1.jpg" alt="user" class="rounded-circle loginPic"/></a>
                                                     <div class="dropdown-menu-container">
                                                        <div class="dropdown-menu no-border-radius col-lg-1 col-md-2 col-sm-2 fadeIn animated" style="min-width: 10rem;margin: -75px;">
                                                            <ul class="s-list no-padding">
                                                                 <li>                                                                                                                                                                                             
                                                                    <b><h5 class="dropdown-item noti-title">#{homebean.username}</h5></b>                                                                  
                                                                    <hr/>
                                                                    <!-- item-->
                                                                    <a href="userPortfolio.jsf" class="dropdown-item notify-item" style="padding: 4px 5px;">
                                                                        <i class="fa fa-user"></i> <span>Profile</span>
                                                                    </a>
                                                                    <hr/>
                                                                    <h:commandLink  action="#{loginbean.logout()}" class="dropdown-item notify-item"> 
                                                                        <i class="fa fa-power-off"></i> <span>Logout</span>
                                                                    </h:commandLink>                                                                  
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                            </li>
                                        </h:panelGroup>                                                            
                                    </h:form>          
                                    <h:panelGroup rendered="#{empty session.getAttribute('username')}">  
                                        <li>
                                            <a href="Login.jsf" data-title="Login" style="color:white;"> Login </a>    
                                        </li>
                                    </h:panelGroup>  
                                </ul>
                            </div>                   
                        </nav>
                    </div>
                </div>
            </header>
            <!--/header of the page -->
    </h:body>
</html>
