<!--<?xml version='1.0' encoding='UTF-8' ?>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <title>AVInsurance</title>
        <!-- Font Icons -->
        <link media="all" rel="stylesheet" href="css/fonts/icomoon/icomoon.css"/>
        <link media="all" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.css"/>        
        <!-- Bootstrap 4 -->
        <link media="all" rel="stylesheet" href="css/bootstrap.css"/>        
        <!-- Custom CSS -->
        <link media="all" rel="stylesheet" href="css/construction.css"/>
        <link href="css/MyCss.css" rel="stylesheet" type="text/css"/>
        <style>
             .myPic{
                
                height: 100px;
            }
        </style>
    </h:head>
    <h:body>
<!--        Preloader
    <div class="preloader" id="pageLoad">
        <div class="holder">
            <div class="coffee_cup"></div>
        </div>
    </div>-->
    <!-- main wrapper -->
    <div id="wrapper">         
        <div class="page-wrapper">
            <!-- header of the page -->
             <ui:insert name="Header">
                <ui:include src="Header.xhtml" />
            </ui:insert>  
            <!--/header of the page -->
            <main>
                <div class="banner banner-home">
                    <!-- revolution slider starts -->
                    <div id="rev_slider_279_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="restaurant-header" style="margin:0px auto;background-color:#000;padding:0px;margin-top:0px;margin-bottom:0px;">
                        <div id="rev_slider_70_1" class="rev_slider fullscreenabanner" style="display:none;" data-version="5.1.4">
                            <ul>
                                <img src="img/banner1.jpg" alt="image description" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-bgfit="cover" />
                                
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <!--/visual/banner of the page -->
                <!-- main content wrapper -->
                <div class="content-wrapper">                    
                   <br/><br/>
                        <center>
                            <div class="container" id="AboutUs">
                                   <div class="block-heading bottom-space">                                
                                        <h2>About Us</h2> 
                                        <h4>Why to choose us</h4>
                                        We are dedicated to support you.<br/>
                                        <div class="divider"><img src="img/divider.png" alt="images description"/></div>
                                    </div>                           
                            </div>
                        </center>
                                  
                    <section class="content-block information-block p-0 parallax" data-stellar-background-ratio="0.55">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="info-block info-block-v2 block-1 col-sm-6 col-lg-3 text-center">
                                    <div class="icon">
                                        <img src="img/icons/icon-planning.png" alt="planning"/>
                                    </div>
                                    <h3>Customer Support</h3>
                                    <p></p>
                                </div>
                                <div class="info-block info-block-v2 block-2 col-sm-6 col-lg-3 text-center">
                                    <div class="icon">
                                        <img src="img/icons/icon-design.png" alt="design"/>
                                    </div>
                                    <h3>Claim Management</h3>
                                    <p></p>
                                </div>
                                <div class="info-block info-block-v2 block-3 col-sm-6 col-lg-3 text-center">
                                    <div class="icon">
                                        <img src="img/icons/icon-service.png" alt="design"/>
                                    </div>
                                    <h3>Clients Focused</h3>
                                    <p></p>
                                </div>
                                <div class="info-block info-block-v2 block-4 col-sm-6 col-lg-3 text-center">
                                    <div class="icon">
                                        <img src="img/icons/icon-support.png" alt="design"/>
                                    </div>
                                    <h3>Protect Who You Love</h3>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </section>
		    <section class="content-block portfolio-block" id="Insurance">                        
                        <div class="container">
                            <center>
                                <div class="block-heading bottom-space">                                
                                     <h2>Insurance</h2> 
                                     <h4>We provide general insurance solutions to secure you and your family against unexpected and untoward events.</h4>                                     
                                     <div class="divider"><img src="img/divider.png" alt="images description"/></div>
                                </div>                           
                            </center>
                            <div class="row masonary-block grid">                                
                                <div class="gallery-item col-lg-6 col-xl-4 ui photography" >
                                    <figure class="caption-hover-full">
                                        <a class="fancy-pop" href="CarInsurance.jsf"></a>
                                        <div class="image-wrapper"><img src="img/car.jpg" alt="images description" class="myPic"/></div>
                                        <div class="image-details">
                                            <div class="figcaption">
                                                <div class="trigger">
                                                    <div class="waituk-icon-plus"></div>
                                                </div>
                                                <div class="info">
                                                    <h4>Car Insurance</h4>
                                                    <p><b>A worry-free ride awaits you! Get comprehensive coverage for your car and secure your ride in a breeze.</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>                                
                                <div class="gallery-item col-lg-6 col-xl-4 photography">
                                    <figure class="caption-hover-full">
                                        <a class="fancy-pop" href="portfolio-single.html"></a>
                                        <div class="image-wrapper"><img src="img/life2.jpg" alt="images description" class="myPic"/></div>
                                        <div class="image-details">
                                            <div class="figcaption">
                                                <div class="trigger">
                                                    <div class="waituk-icon-plus"></div>
                                                </div>
                                                <div class="info">
                                                    <h4>Life Insurance</h4>
                                                    <p><b>Protection agianst the loss of life that lasts for your entire life, in case you can't be there to catch, make sure you leave a safety net</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                                <div class="gallery-item col-lg-6 col-xl-4 ui programming">
                                    <figure class="caption-hover-full">
                                        <a class="fancy-pop" href="portfolio-single.html"></a>
                                        <div class="image-wrapper"><img src="img/14bike.jpg" alt="images description" class="myPic"/></div>
                                        <div class="image-details">
                                            <div class="figcaption">
                                                <div class="trigger">
                                                    <div class="waituk-icon-plus"></div>
                                                </div>
                                                <div class="info">
                                                    <h4>Bike Insurance</h4>
                                                    <p><b>Kick start a hassle-free ride! Avail long-term Two Wheeler Insurance and enjoy convenience and continued protection</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>                                                                                                                                                                                            
                            </div>
                        </div>
                    </section>  
                    <section>                       
                        <div class="container" id="Policies"> 
                             <center>                                
                                    <div class="block-heading">                                
                                         <h2>Our Top Policies</h2> 
                                         <div class="divider"><img src="img/divider.png" alt="images description"/></div>
                                     </div>  
                                     <br/><br/>
                                </center>
                            <div class="demo-wrapper">
                                <div class="text-center element-heading">
                                    <h3>Car Insurance Policies &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="AllPolicyDisplay.jsf"><i class="fa fa-angle-double-right"></i></a></h3>
                                </div>
                                <div class="row default-gallery">
                                    <div class="col-md-6 col-lg-4 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <h2><a href="#">2 Wheeler Policy 1</a></h2>
                                                <p>
                                                <ul>
                                                    <li>Max Term:1 years</li>
                                                    <li>Premium:1500</li>
                                                    <li>3 party</li>
                                                </ul>
                                                </p>
                                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-md-6 col-lg-4 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <h2><a href="#">Car Policy 1</a></h2>
                                                <p>
                                                <ul>
                                                    <li>Max Term:1 years</li>
                                                    <li>Premium:1500</li>
                                                    <li>3 party</li>
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-md-6 col-lg-4 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <h2><a href="#">Car Policy 1</a></h2>
                                                <p>
                                                <ul>
                                                    <li>Max Term:1 years</li>
                                                    <li>Premium:1500</li>
                                                    <li>3 party</li>
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <br/><br/>
                             <div class="demo-wrapper">
                                <div class="text-center element-heading">
                                    <h3>Life Insurance Policies&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="AllPolicyDisplay.jsf"><i class="fa fa-angle-double-right"></i></a></h3>
                                </div>
                                <div class="row default-gallery">
                                    <div class="col-md-6 col-lg-4 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <h2><a href="#">Car Policy 1</a></h2>
                                                <p>
                                                <ul>
                                                    <li>Max Term:1 years</li>
                                                    <li>Premium:1500</li>
                                                    <li>3 party</li>
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                   <div class="col-md-6 col-lg-4 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <h2><a href="#">Car Policy 1</a></h2>
                                                <p>
                                                <ul>
                                                    <li>Max Term:1 years</li>
                                                    <li>Premium:1500</li>
                                                    <li>3 party</li>
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-md-6 col-lg-4 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <h2><a href="#">Car Policy 1</a></h2>
                                                <p>
                                                <ul>
                                                    <li>Max Term:1 years</li>
                                                    <li>Premium:1500</li>
                                                    <li>3 party</li>
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>  
                            <br/><br/>
                            <div class="demo-wrapper">
                                <div class="text-center element-heading">
                                    <h3>Bike Insurance Policies&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="AllPolicyDisplay.jsf"><i class="fa fa-angle-double-right"></i></a></h3>
                                </div>
                                <div class="row multiple-row">
                                <div class="col-md-6 col-lg-4 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <h2><a href="#">Car Policy 1</a></h2>
                                                <p>
                                                <ul>
                                                    <li>Max Term:1 years</li>
                                                    <li>Premium:1500</li>
                                                    <li>3 party</li>
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <h2><a href="#">Car Policy 1</a></h2>
                                                <p>
                                                <ul>
                                                    <li>Max Term:1 years</li>
                                                    <li>Premium:1500</li>
                                                    <li>3 party</li>
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <h2><a href="#">Car Policy 1</a></h2>
                                                <p>
                                                <ul>
                                                    <li>Max Term:1 years</li>
                                                    <li>Premium:1500</li>
                                                    <li>3 party</li>
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div> 
                        </div>
                    </section>
                   <br/><br/><br/><br/>                   
                    <section class="content-block count-block text-center p-0 parallax" data-stellar-background-ratio="0.55">
                        <div class="container-fluid">
                            <div class="row no-gutters">
                                <div class="col-sm-6 col-lg-3">
                                    <div class="col-wrap">
                                        <div class="icon">
                                            <span class="waituk-icon-projects"></span>
                                        </div>
                                        <h3>505</h3>
                                        <div class="text text-uppercase">TOTAL CLIENTS</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="col-wrap">
                                        <div class="icon">
                                            <span class="waituk-icon-smile"></span>
                                        </div>
                                        <h3>220</h3>
                                        <div class="text text-uppercase">TOTAL POLICIES</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="col-wrap">
                                        <div class="icon">
                                            <span class="waituk-icon-award"></span>
                                        </div>
                                        <h3>720</h3>
                                        <div class="text text-uppercase">TOTAL CLAIM SETTLED</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="col-wrap">
                                        <div class="icon">
                                            <span class="waituk-icon-celebrate"></span>
                                        </div>
                                        <h3>707</h3>
                                        <div class="text text-uppercase">TOTAL</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>                                                          
                </div>
                <!--/main content wrapper -->
            </main>
        </div>
        <!-- footer of the pagse -->
         <ui:insert name="Footer">
                <ui:include src="Footer.xhtml" />
            </ui:insert>  
    </div>
        <!--/footer of the page -->    
   
    
    <a href="#" class="section-scroll" id="scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- jquery library -->
    <script src="vendors/jquery/jquery-2.1.4.min.js"></script>
    <!-- external scripts -->
    <script src="vendors/popper/popper.min.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/stellar/jquery.stellar.min.js"></script>
    <script src="vendors/isotope/javascripts/isotope.pkgd.min.js"></script>
    <script src="vendors/isotope/javascripts/packery-mode.pkgd.js"></script>
    <script src="vendors/owl-carousel/dist/owl.carousel.js"></script>
    <script src="vendors/waypoint/waypoints.min.js"></script>
    <script src="vendors/counter-up/jquery.counterup.min.js"></script>
    <!--<script src="vendors/fancyBox/source/jquery.fancybox.pack.js"></script>-->
    <!--<script src="vendors/fancyBox/source/helpers/jquery.fancybox-thumbs.js"></script>-->
    <script src="vendors/image-stretcher-master/image-stretcher.js"></script>
    <script src="vendors/wow/wow.min.js"></script>
    <script src="vendors/rateyo/jquery.rateyo.js"></script>
     <script src="vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
     <script src="vendors/bootstrap-slider-master/src/js/bootstrap-slider.js"></script> 
     <script src="vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script> 
    <script src="js/mega-menu.js"></script>
    <!-- custom jquery script -->
    <script src="js/jquery.main.js"></script>
    
    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
     <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
     <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
     <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
     <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.video.min.js"></script> 
    <!-- SNOW ADD ON -->
    <script type="text/javascript" src="vendors/rev-slider/revolution-addons/snow/revolution.addon.snow.min.js"></script>
        <!-- revolutions slider script -->
    <script src="js/revolution.js"></script>    
    </h:body>
</html>
