<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
               <!-- Required meta tags -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>                
                <meta http-equiv="X-UA-Compatible" content="IE=edge"/>        
		<!-- Bootstrap CSS --> 
		<link rel="stylesheet" href="assets/css/bootstrap.min.css"/>		
		<!-- Owl Magnific CSS --> 
		<link rel="stylesheet" href="assets/css/magnific-popup.css"/>		
		<!-- Odometer CSS-->
		<link rel="stylesheet" href="assets/css/odometer.css"/>
		<!-- Style CSS -->
		<link rel="stylesheet" href="assets/css/style.css"/>		
                <link href="css/MyCss.css" rel="stylesheet" type="text/css"/>
		<!-- Title -->
                <title>Login Page</title>                                
    </h:head>
    <h:body>      
        <ui:insert name="Header">
           <ui:include src="Header.xhtml"/>
       </ui:insert>
        <!-- Start Log In Area -->
        <section class="user-area-all-style log-in-area mypaddingtop">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-form-action">
                                <div class="form-heading text-center">
                                    <h3 class="form-title">Log In to your account!</h3>
                                </div>
                            <h:form>
                                    <div class="row">
                                        <div class="col-12">

                                                <p:messages showDetail="true" closable="true">
                                                   <p:autoUpdate />
                                                </p:messages>

                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                Enter Username
                                                <h:inputText class="form-control" id="Username" value="#{loginbean.username}" required="true" requiredMessage="Username is required"/>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                Enter Password
                                                <h:inputSecret class="form-control" id="Password" value="#{loginbean.password}" required="true" requiredMessage="Password is required"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 form-condition">
                                            <div class="agree-label">
                                                <input type="checkbox" id="chb1"/>
                                                <label for="chb1">
                                                        Remember Me
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6">
                                            <a class="forget" href="RecoverPassword.jsf">Forgot my password?</a>
                                        </div>
                                        <div class="col-12">
                                            <p:commandButton class="default-btn btn-two" value="Log In Now" action="#{loginbean.dologin()}" />                                                
                                        </div>
                                        <div class="col-12">
                                            <p class="account-desc">
                                                    Not a member?
                                                    <a href="Registration.jsf">Register</a>
                                            </p>
                                        </div>
                                    </div>
                                </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         <ui:insert name="Footer">
                <ui:include src="Footer.xhtml" />
            </ui:insert>  
		<!-- End Log In Area -->		
    </h:body>
</html>