<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <h:head>
        <title>UserPersonal Details</title>
        
    </h:head>
    <h:body>

        <h:form enctype="multipart/form-data">
            <h:panelGrid columns="2">
              
            Middle Name:
            <h:inputText id="mname" value="#{personalinfo_bean.mname}" />

            Address :
            <h:inputTextarea id="add" value="#{personalinfo_bean.add}" />


            Gender :
            <p:selectOneRadio id="gen" value="#{personalinfo_bean.gender}" >
                <f:selectItem itemLabel="Female" itemValue="Female" />
                <f:selectItem itemLabel="Male" itemValue="Male" />                                                        
            </p:selectOneRadio>


            Date :
            <h:inputText value="#{personalinfo_bean.dob}" />


            Age :
            <h:inputText id="age" value="#{personalinfo_bean.age}"/>


            Phone number :
            <h:inputText id="number" value="#{personalinfo_bean.phone}"/>


            Pincode :
            <h:inputText id="pin" value="#{personalinfo_bean.pincode}"/>


            State
            <h:selectOneMenu id="statess" value="#{personalinfo_bean.stateid}" >
                <f:selectItem itemLabel="Select State" itemValue="" noSelectionOption="true"/>
                <f:selectItems var="states" value="#{city_state_bean.getState()}" itemLabel="#{states.stateName}" itemValue="#{states.stateId}" />                                                
            </h:selectOneMenu>

            
            City
            <h:selectOneMenu id="cityss" value="#{personalinfo_bean.cityid}">
                <f:selectItem itemLabel="Select City" itemValue="" noSelectionOption="true"/>
                <f:selectItems var="city" value="#{city_state_bean.getCity()}" itemLabel="#{city.cityName}" itemValue="#{city.cityId}" />                                                
            </h:selectOneMenu>

            
            Photo Image :
            <h:inputFile  id="photo" value="#{personalinfo_bean.photoimg}" />                                               
            

            <h:commandButton id="sub" action="#{personalinfo_bean.updateDetail()}" value="Submit"/>

            <h:commandButton id="info" action="#{personalinfo_bean.updateInfo()}" value="INFO"/>

            </h:panelGrid>
        </h:form>

    </h:body>
</html>

