<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
            <meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<!-- Bootstrap CSS --> 
		<link rel="stylesheet" href="assets/css/bootstrap.min.css"/>		
		<!-- Meanmenu CSS -->
		<link rel="stylesheet" href="assets/css/meanmenu.css"/>				
		<!-- Style CSS -->
		<link rel="stylesheet" href="assets/css/style.css"/>
                <link href="css/MyCss.css" rel="stylesheet" type="text/css"/>
		<!-- Title -->
		<title>Recover Password</title>
    </h:head>
    <h:body>
        <ui:insert name="Header">
            <ui:include src="Header.xhtml"/>
        </ui:insert>
        <!-- Start Recover Password Area -->
        <section class="user-area-all-style recover-password-area mypaddingtop">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-form-action">
                            <div class="form-heading text-center">
                                <h3 class="form-title">Reset Password!</h3>
                                <p class="reset-desc">Enter the email of your account to reset the password. Then you will receive a link to email to reset the password. If you have any issue about reset password <a href="contact.html">contact us.</a></p>
                            </div>
                            <form method="post">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="name" placeholder="Enter Email Address"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <a class="now-log-in font-q" href="Login.jsf">Log In</a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <p class="now-register">
                                            Not a member?
                                            <a class="font-q" href="Registration.jsf">Register</a>
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <button class="default-btn btn-two" type="submit">
                                            Reset Password
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ui:insert name="Footer">
            <ui:include src="Footer.xhtml" />
        </ui:insert>  
        <!-- End Recover Password Area -->
    </h:body>
</html>