<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <!-- Required meta tags -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<!-- Bootstrap CSS --> 
		<link rel="stylesheet" href="assets/css/bootstrap.min.css"/>		
		<!-- Boxicons CSS --> 
		<link rel="stylesheet" href="assets/css/boxicons.min.css"/> 		
		<!-- Style CSS -->
		<link rel="stylesheet" href="assets/css/style.css"/>		
                <link href="css/MyCss.css" rel="stylesheet" type="text/css"/>
		<!-- Title -->
		<title>Registration</title>
    </h:head>
    <h:body>
	 <ui:insert name="Header">
                            <ui:include src="Header.xhtml"/>
                        </ui:insert>
		<!-- Start Sign Up Area -->
		<section class="user-area-all-style sign-up-area mypaddingtop">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="contact-form-action">
							<div class="form-heading text-center">
                                                            <h3 class="form-title">Create an account!</h3>								
							</div>
							<h:form>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                  <p:messages showDetail="true" closable="true">
                                                       <p:autoUpdate />
                                                  </p:messages>
                                            </div>                                             
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    First Name <span style="color: red"> * </span>
                                                    <h:inputText class="form-control" id="fname" value="#{registerbean.firstname}" required="true" requiredMessage="Firstname is required" />
                                                </div>
                                            </div>                                           
                                            <div class="col-md-12 col-sm-12 ">
                                                <div class="form-group">
                                                    Last Name <span style="color: red"> * </span>
                                                    <h:inputText class="form-control" id="lname" value="#{registerbean.lastname}" required="true" requiredMessage="Lastname is required"/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    Username <span style="color: red"> * </span>
                                                    <h:inputText class="form-control" id="username" value="#{registerbean.username}" required="true" requiredMessage="Username is required"/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    Email <span style="color: red"> * </span>
                                                    <h:inputText class="form-control" id="email" value="#{registerbean.email}" required="true" requiredMessage="Email is required"/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    Password <span style="color: red"> * </span>
                                                    <h:inputSecret class="form-control" id="password" value="#{registerbean.password}" required="true" requiredMessage="Password is required"/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 ">
                                                <div class="form-group">
                                                    Confirm Password <span style="color: red"> * </span>
                                                    <h:inputSecret class="form-control" id="password1" value="#{registerbean.pass1}" required="true" requiredMessage="Write same password "/>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <p:commandButton class="default-btn btn-two" value="Register Account" action="#{registerbean.register()}" />
 
                                            </div>
                                            <div class="col-12">
                                                <p class="account-desc">
                                                    Already have an account?
                                                    <a href="Login.jsf"> Log In</a>
                                                </p>
                                            </div>
                                        </div>
                                    </h:form>
						</div>
					</div>
				</div>
			</div>
		</section>
                 <ui:insert name="Footer">
                <ui:include src="Footer.xhtml" />
            </ui:insert>  
		<!-- End Sign Up Area -->
		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class='bx bx-chevrons-up'></i>
			<i class='bx bx-chevrons-up'></i>
		</div>
		<!-- End Go Top Area --> 		
        <!-- Jquery Slim JS -->
        <script src="assets/js/jquery.min.js"></script>                
	<script src="assets/js/jquery.meanmenu.js"></script>         
	<script src="assets/js/owl.carousel.js"></script>         
	<script src="assets/js/jquery.nice-select.min.js"></script>		 
	<script src="assets/js/jquery.mixitup.min.js"></script>		 
        <script src="assets/js/jquery.appear.js"></script>		 
	<script src="assets/js/custom.js"></script>
    </h:body>
</html>