<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" > 
    <h:head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Personal Info Form</title>
    <!-- Font Icons -->
    <link media="all" rel="stylesheet" href="css/fonts/icomoon/icomoon.css"/>
    <link media="all" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.css"/>
    <!-- Vendors -->
    <link media="all" rel="stylesheet" href="vendors/owl-carousel/dist/assets/owl.carousel.min.css"/>
    <link media="all" rel="stylesheet" href="vendors/owl-carousel/dist/assets/owl.theme.default.min.css"/>
    <link media="all" rel="stylesheet" href="vendors/animate/animate.css"/>
    <link media="all" rel="stylesheet" href="vendors/rateyo/jquery.rateyo.css"/>
    <link media="all" rel="stylesheet" href="vendors/bootstrap-datepicker/css/bootstrap-datepicker.css"/>  
    <link media="all" rel="stylesheet" href="vendors/fancyBox/source/jquery.fancybox.css"/>
    <link media="all" rel="stylesheet" href="vendors/fancyBox/source/helpers/jquery.fancybox-thumbs.css"/>
    <!-- Bootstrap 4 -->
    <link media="all" rel="stylesheet" href="css/bootstrap.css"/>
    <!-- Theme CSS -->
    <link media="all" rel="stylesheet" href="css/main.css"/>
    </h:head>
    <h:body>
    <!--Preloader-->
<!--    <div class="preloader" id="pageLoad">
        <div class="holder">
            <div class="coffee_cup"></div>
        </div>
    </div>-->
    <!-- main wrapper -->
    <div id="wrapper">
        <div class="page-wrapper">
            <!-- header of the page -->
            <ui:insert name="Header">
                <ui:include src="Header.xhtml" />
            </ui:insert> 
            <!--/header of the page -->
            <main>                
                <!-- main content wrapper -->
                <div class="content-wrapper">
                    <section class="content-block pb-0">
                        <div class="container">
                            <div class="contact-container">
                                <div class="row">
                                <div class="col-lg-4 flex-lg-first">
                                    <div class="sidebar-wrap mt-5 mt-lg-0 sticky-top">
                                        <div class="widget-block">
                                            <div class="post-block changePointer">
                                                <div class="post-holder" onclick="PersonalInfoDisplay()">
                                                    <div class="post-desc">
                                                        <h5>Personal Information</h5>
                                                    </div>
                                                </div>                                                
                                                <div class="post-holder" onclick="EducationInfoDisplay()">
                                                    <div class="post-desc">
                                                        <h5>Education Information</h5>
                                                    </div>
                                                </div>
                                                 <div class="post-holder" onclick="OccupationInfoDisplay()">
                                                    <div class="post-desc">
                                                        <h5>Occupation Information</h5>
                                                    </div>
                                                </div>
                                                 <div class="post-holder" onclick="FamilyInfoDisplay()">
                                                    <div class="post-desc">
                                                        <h5>Family Information</h5>
                                                    </div>
                                                </div>
                                                 <div class="post-holder" onclick="NomineeInfoDisplay()">
                                                    <div class="post-desc">
                                                        <h5>Nominee Information</h5>
                                                    </div>
                                                </div>
                                                 <div class="post-holder" onclick="HealthInfoDisplay()">
                                                    <div class="post-desc">
                                                        <h5>Health Information</h5>
                                                    </div>
                                                </div>
                                                 <div class="post-holder" onclick="BankInfoDisplay()">
                                                    <div class="post-desc">
                                                        <h5>Bank Details</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-lg-6">
                                        <!-- contact form -->
                                    <div id="UserInfo1">
                                        <h3>Personal Information</h3>
                                        <br/>
                                        <h:form enctype="multipart/form-data">
                                            <div class="form-group">
                                                <h5>First Name</h5>
                                                <h:inputText class="form-control" id="fname" readonly="true"/>
                                            </div>
                                            <div class="form-group">
                                                <h5>Middle Name</h5>
                                                <h:inputText class="form-control" id="mname" value="#{personalinfo_bean.mname}" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                <h5>Last Name</h5>
                                                <h:inputText class="form-control" id="lname" readonly="true"/>
                                            </div>
                                            <div class="form-group">
                                                <h5>Address</h5>
                                                <h:inputTextarea class="form-control" id="add" value="#{personalinfo_bean.add}" />
                                            </div>                                        
                                            <div class="form-group">
                                                <h5>Gender</h5>                                                
                                                <p:selectOneRadio class="radio-inline"  id="gen" value="#{personalinfo_bean.gender}" >
                                                    <f:selectItem itemLabel="Female" itemValue="Female" />
                                                    <f:selectItem itemLabel="Male" itemValue="Male" />                                                        
                                                </p:selectOneRadio>
                                            </div>
                                            <div class="form-group">
                                                <h5>User Name</h5>
                                                <h:inputText class="form-control" id="uname" readonly="true"/>
                                            </div>
                                            <div class="form-group">
                                                <h5>Email</h5>
                                                <h:inputText class="form-control" id="mail" autocomplete="off" readonly="true"/>
                                            </div> 
                                            <div class="waituk_datetimepicker-block mb-5">
                                                <h5>Date Of Birth</h5>
                                                <h:inputText class="form-control datepicker-text-input" autocomplete="off" id="dob" value="#{personalinfo_bean.dob}"/>
                                            </div>
                                            <div class="form-group">
                                                <h5>Age</h5>
                                                <h:inputText class="form-control" id="age" autocomplete="off" value="#{personalinfo_bean.age}"/>
                                            </div>                                                                                       
                                            <div class="form-group">
                                                <h5>Phone No.</h5>
                                                <h:inputText class="form-control" id="phone" autocomplete="off" value="#{personalinfo_bean.phone}"/>
                                            </div>
                                                
                                            <div class="form-group">
                                                <h5>Pin Code</h5>
                                                <h:inputText class="form-control" id="pin" autocomplete="off" value="#{personalinfo_bean.pincode}"/>
                                            </div>
                                            <div class="form-group">
                                                <h5>Your Photo</h5>
                                                <h:inputFile class="form-control" id="photo" value="#{personalinfo_bean.photoimg}" />                                               
                                            </div>                                            
                                            <br/><br/>
                                            <div class="form-group text-right m-b-0">
                                                <h:commandButton class="btn btn-primary" value="Next" onclick="nextform(1)"/>
                                            </div>
                                        </h:form>
                                    </div>
                                    <div id="UserInfo2" hidden="true">
                                        <h3>Education Information</h3>
                                        
                                    </div>
                                    <div id="UserInfo3" hidden="true">
                                        <h3>Occupation Information</h3>
                                        <h:form enctype="multipart/form-data">
                                            <div class="form-group">
                                                Occupation
                                                <h:inputText class="form-control" id="ae" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                Office Address
                                                <h:inputTextarea class="form-control" id="desc"/>
                                            </div>
                                            <div class="form-group">
                                                Phone No.
                                                <h:inputText class="form-control" id="name" autocomplete="off"/>
                                            </div>
                                            <div class="form-group text-right m-b-0">
                                                <h:commandButton class="btn btn-primary" value="Next" onclick="nextform(3)"/>
                                            </div>
                                        </h:form>
                                    </div>
                                    <div id="UserInfo4" hidden="true">
                                        <h3>Family Information</h3>
                                        <h:form enctype="multipart/form-data">
                                            <div class="form-group">
                                                First Name
                                                <h:inputText class="form-control" id="name1" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                Middle Name
                                                <h:inputText class="form-control" id="name" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                Last Name
                                                <h:inputText class="form-control" id="lastname" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                Relation
                                                <h:selectOneMenu class="form-control" id="state"/>
                                            </div>
                                            <div class="form-group text-right m-b-0">
                                                <h:commandButton class="btn btn-primary" value="Next" onclick="nextform(4)"/>
                                            </div>
                                        </h:form>
                                    </div>
                                        <div id="UserInfo5" hidden="true">
                                        <h3>Nominee Information</h3>
                                        <h:form enctype="multipart/form-data">
                                            <div class="form-group">
                                                First Name
                                                <h:inputText class="form-control" id="name1" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                Middle Name
                                                <h:inputText class="form-control" id="mname" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                Last Name
                                                <h:inputText class="form-control" id="lastname" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                Relation
                                                <h:selectOneMenu class="form-control" id="state" />
                                            </div>
                                            <div class="form-group">
                                                Occupation
                                                <h:inputText class="form-control" id="ae" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                Office Address
                                                <h:inputTextarea class="form-control" id="desc"/>
                                            </div>
                                            <div class="form-group">
                                                Phone No.
                                                <h:inputText class="form-control" id="name" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                LC Image
                                                <h:inputFile class="form-control" id="proof"/>
                                            </div>
                                            <div class="form-group">
                                                Mark Sheet Image
                                                <h:inputFile class="form-control" id="proof1"/>
                                            </div> 
                                            <div class="form-group text-right m-b-0">
                                                <h:commandButton class="btn btn-primary" value="Next" onclick="nextform(5)"/>
                                            </div>
                                        </h:form>
                                    </div>
                                    <div id="UserInfo6" hidden="true">
                                        <h3>Health Information</h3>
                                        <h:form enctype="multipart/form-data">
                                            <div class="form-group">
                                                Disease
                                                <h:inputText class="form-control" id="ae" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                Description
                                                <h:inputTextarea class="form-control" id="desc"/>
                                            </div>
                                            <div class="form-group">
                                                Document
                                                <h:inputFile id="doc" class="form-control"/>
                                            </div>
                                            <div class="form-group text-right m-b-0">
                                                <h:commandButton class="btn btn-primary" value="Submit"/>  
                                            </div>
                                        </h:form>
                                    </div>
                                    <div id="UserInfo7" hidden="true">
                                        <h3>Bank Details</h3>
                                        <h:form enctype="multipart/form-data">
                                            <div class="form-group">
                                                Bank Name
                                                <h:inputText class="form-control" id="bankname" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                Account Type
                                                <h:selectOneMenu class="form-control" id="acctype"/>
                                            </div>
                                            <div class="form-group">
                                                Account No.
                                                <h:inputText class="form-control" id="accno" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                Branch
                                                <h:inputText class="form-control" id="branch" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                IFSC Code
                                                <h:inputText class="form-control" id="ifsc" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                Account Holder Name
                                                <h:inputText class="form-control" id="holder" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                PassBook Image
                                                <h:inputFile id="passbook" class="form-control"/>
                                            </div>
                                            <div class="form-group text-right m-b-0">
                                                <h:commandButton class="btn btn-primary" value="Next" onclick="nextform(3)"/>
                                            </div>
                                        </h:form>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!--/main content wrapper -->
            </main>
        </div>
        <!-- footer of the pagse -->
        <ui:insert name="Footer">
                <ui:include src="Footer.xhtml" />
            </ui:insert>  
        <!--/footer of the page -->
    </div>
    <!-- search form wrapper -->
    <div class="search-form-wrapper">
        <a href="#" class="nav-search-link close"><span class="waituk-icon-android-close"></span></a>
        <div class="holder">
            <input type="search" class="form-control form-control-v1" placeholder="Enter Your Search"/>
            <button type="submit"><span class="waituk-icon-search"></span></button>
        </div>
    </div>
    <script src="js/MyJs.js" type="text/javascript"></script>
    <a href="#" class="section-scroll" id="scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- jquery library -->
    <script src="vendors/jquery/jquery-2.1.4.min.js"></script>
    <!-- external scripts -->
    <script src="vendors/popper/popper.min.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/stellar/jquery.stellar.min.js"></script>
    <script src="vendors/isotope/javascripts/isotope.pkgd.min.js"></script>
    <script src="vendors/isotope/javascripts/packery-mode.pkgd.js"></script>
    <script src="vendors/owl-carousel/dist/owl.carousel.js"></script>
    <script src="vendors/waypoint/waypoints.min.js"></script>
    <script src="vendors/counter-up/jquery.counterup.min.js"></script>
    <script src="vendors/fancyBox/source/jquery.fancybox.pack.js"></script>
    <script src="vendors/fancyBox/source/helpers/jquery.fancybox-thumbs.js"></script>
    <script src="vendors/image-stretcher-master/image-stretcher.js"></script>
    <script src="vendors/wow/wow.min.js"></script>
    <script src="vendors/rateyo/jquery.rateyo.js"></script>
    <script src="vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="vendors/bootstrap-slider-master/src/js/bootstrap-slider.js"></script>
    <script src="vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="js/mega-menu.js"></script>
    <!-- custom jquery script -->
    <script src="js/jquery.main.js"></script>

    </h:body>
</html>

