<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <h:head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>        
        <link rel="shortcut icon" href="assets1/images/favicon.ico"/>
        <title>User Details Form</title>
        <!--Form Wizard-->
        <link rel="stylesheet" type="text/css" href="plugins/jquery.steps/css/jquery.steps.css" />
        <link href="plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
        <link href="assets1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets1/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="assets1/css/style.css" rel="stylesheet" type="text/css" />
        <link href="css/MyCss.css" rel="stylesheet" type="text/css"/>
        <script src="assets1/js/modernizr.min.js"></script>
    </h:head>
    <h:body>
         <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">

<!--                         Page-Title                         
                        <ui:insert name="Header">
                            <ui:include src="Header.xhtml"/>
                        </ui:insert>
-->

                        <!-- Vertical Steps Example -->
                        <div class="row mypaddingtop">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title"><b>User Details</b></h4>                                    

                                      <h:form enctype="multipart/form-data">
                                        <h3>Personal</h3>
                                        <section>
                                            
                                            <div class="form-group clearfix">
                                               <label class="control-label">Middle Name</label>   
                                               
                                                <h:inputText value="#{personalinfo_bean.mname}" />
                                                
                                            </div>
                                            
                                            <div class="form-group clearfix">
                                                Address :
                                                    <h:inputTextarea value="#{personalinfo_bean.add}" />
                                               
                                            </div>
                                            <div class="form-group clearfix">
                                                Gender :
                                                
                                                    <p:selectOneRadio id="customRadio" value="#{personalinfo_bean.gender}" >
                                                        <f:selectItem itemLabel="Female" itemValue="Female" />
                                                        <f:selectItem itemLabel="Male" itemValue="Male" />                                                        
                                                    </p:selectOneRadio>
                                                
                                            </div>
                                            <div class="form-group">
                                                Birth Date :
                                                
                                                <input type="date" jsf:value="#{personalinfo_bean.dob}"/>
                                                     
                                            </div>
                                           
                                             <div class="form-group clearfix">
                                                Age :
                                                    <h:inputText value="#{personalinfo_bean.age}"/>
                                              
                                            </div>
                                             
                                             <div class="form-group clearfix">
                                                Phone number :
                                                    <h:inputText value="#{personalinfo_bean.phone}"/>
                                               
                                            </div>
                                            
                                            <div class="form-group clearfix">
                                                Pincode :
                                                    <h:inputText value="#{personalinfo_bean.pincode}"/>
                                               
                                            </div>
                                            
                                            <div class="form-group">
                                                State
                                                <h:selectOneMenu value="#{personalinfo_bean.stateid}" class="form-control">
                                                    <f:selectItem itemLabel="Select State" itemValue="" noSelectionOption="true"/>
                                                    <f:selectItems var="states" value="#{city_state_bean.getState()}" itemLabel="#{states.stateName}" itemValue="#{states.stateId}" />                                                
                                                </h:selectOneMenu>
                                            </div>
                                            
                                            <div class="form-group">
                                                City
                                                <h:selectOneMenu value="#{personalinfo_bean.cityid}" class="form-control">
                                                    <f:selectItem itemLabel="Select City" itemValue="" noSelectionOption="true"/>
                                                    <f:selectItems var="city" value="#{city_state_bean.getCity()}" itemLabel="#{city.cityName}" itemValue="#{city.cityId}" />                                                
                                                </h:selectOneMenu>
                                            </div>
                                            
                                            <div class="form-group">
                                                Photo Image :
                                                    <h:inputFile value="#{personalinfo_bean.photoimg}" required="true" requiredMessage="Plzz upload the file.."/>                                               
                                            </div>
                                            
                                            <div class="form-group">                                               
                                                Id Proof Number :                                                
                                                    <h:inputText value="#{personalinfo_bean.number}"/>
                                            </div>
                                            
                                            <div class="form-group">
                                                Id Proof Type :
                                                <h:selectOneMenu value="#{personalinfo_bean.masterproofid}" class="form-control">
                                                    <f:selectItem itemLabel="Select Proof Type" itemValue="" noSelectionOption="true"/>
                                                    <f:selectItems var="mids" value="#{proofmaster_bean.getMasterProof()}" itemLabel="#{mids.name}" itemValue="#{mids.masterProofId}" />                                                
                                                </h:selectOneMenu>
                                            </div>
                                            
                                            <div class="form-group">
                                                Id Proof Image :
                                                    <h:inputFile value="#{personalinfo_bean.proofimg}" required="true" requiredMessage="Plzz upload the file.."/>
                                            </div>
                                                
                                            <h:commandButton action="#{personalinfo_bean.updatepersonalinfo()}" value="Submit"/>
                                            </section>
                                    </h:form>
<!--                                        <h3>Occupation</h3>
                                        <section>
                                            <div class="form-group clearfix">

                                                <label class="control-label" for="name1">Occupation *</label>
                                                <div class="">
                                                    <input id="name1" name="name" type="text" class="required form-control"/>
                                                </div>
                                            </div>
                                            <div class="form-group clearfix">
                                                <label class="control-label " for="userName1">Office Address*</label>
                                                <div class="">
                                                    <textarea required="" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group clearfix">
                                                <label class="control-label " for="userName1">Phone no.*</label>
                                                <div class="">
                                                    <input class="form-control required" id="userName1" name="userName" type="number"/>
                                                </div>
                                            </div>
                                        </section>
                                        <h3>Education</h3>
                                        <section>
                                            <div class="form-group clearfix">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="control-label">LC Image*</label>                        
                                                        <div class="col-7">
                                                            <input type="file" class="form-control"/>
                                                        </div>
                                                    </div>                                                    
                                                    <div class="form-group">
                                                        <label class="control-label">MarkSheet Image*</label>                        
                                                        <div class="col-7">
                                                            <input type="file" class="form-control"/>
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                        </section>
                                        <h3>Family</h3>
                                        <section>
                                            <div class="form-group clearfix">
                                                <div class="col-lg-12">
                                                     <div class="form-group clearfix">
                                                <label class="control-label " for="userName1">First Name *</label>
                                                <div class="">
                                                    <input class="form-control required" id="userName1" name="userName" type="text"/>
                                                </div>
                                            </div>
                                            <div class="form-group clearfix">
                                                <label class="control-label " for="userName1">Middle Name *</label>
                                                <div class="">
                                                    <input class="form-control required" id="userName1" name="userName" type="text"/>
                                                </div>
                                            </div>
                                            <div class="form-group clearfix">
                                                <label class="control-label " for="userName1">Last Name *</label>
                                                <div class="">
                                                    <input class="form-control required" id="userName1" name="userName" type="text"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                            <div class="checkbox checkbox-purple">
                                                <input id="checkbox6a" type="checkbox" data-parsley-multiple="checkbox6a"/>
                                                <label for="checkbox6a">
                                                    Is Nominy
                                                </label>
                                            </div>
                                                <div class="form-group">
                                                <label class="control-label">Relation*</label>
                                                <div class="">
                                                    <select class="form-control">
                                                        <option>1</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>      
                                                </div>
                                            </div>
                                        </section>-->
                                  
                                    <!-- End #wizard-vertical -->
                                </div>
                            </div>
                        </div><!-- End row -->
                    </div> <!-- container -->
                </div> <!-- content -->
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
        <script>
            var resizefunc = [];
        </script>        
        <!-- jQuery  -->
        <script src="assets1/js/jquery.min.js"></script>
        <script src="assets1/js/popper.min.js"></script><!-- Popper for Bootstrap -->
        <script src="assets1/js/bootstrap.min.js"></script>
        <script src="assets1/js/detect.js"></script>
        <script src="assets1/js/fastclick.js"></script>
        <script src="assets1/js/jquery.slimscroll.js"></script>
        <script src="assets1/js/jquery.blockUI.js"></script>
        <script src="assets1/js/waves.js"></script>
        <script src="assets1/js/wow.min.js"></script>
        <script src="assets1/js/jquery.nicescroll.js"></script>
        <script src="assets1/js/jquery.scrollTo.min.js"></script>
        <script src="assets1/js/jquery.core.js"></script>
        <script src="assets1/js/jquery.app.js"></script>
        <script src="plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <!--Form Wizard-->
        <script src="plugins/jquery.steps/js/jquery.steps.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="plugins/jquery-validation/js/jquery.validate.min.js"></script>
        <!--wizard initialization-->
        <script src="assets1/pages/jquery.wizard-init.js" type="text/javascript"></script>        
    </h:body>
</html>

