<!--<?xml version='1.0' encoding='UTF-8' ?>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <title>Markup Template</title>
        <!-- Font Icons -->
        <link media="all" rel="stylesheet" href="css/fonts/icomoon/icomoon.css"/>
        <link media="all" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.css"/>        
        <!-- Bootstrap 4 -->
        <link media="all" rel="stylesheet" href="css/bootstrap.css"/>        
        <!-- Custom CSS -->
        <link media="all" rel="stylesheet" href="css/construction.css"/>
        <link href="css/MyCss.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
<!--        Preloader
    <div class="preloader" id="pageLoad">
        <div class="holder">
            <div class="coffee_cup"></div>
        </div>
    </div>-->
    <!-- main wrapper -->
    <div id="wrapper">         
        <div class="page-wrapper">
            <!-- header of the page -->
             <ui:insert name="Header">
                <ui:include src="Header.xhtml" />
            </ui:insert>  
            <!--/header of the page -->
            <main>
                <!-- main content wrapper -->
                <div class="content-wrapper">
                    <section class="content-block">
                        <div class="container" style="max-width: fit-content;margin-left: 0px;margin-right: 0px;">
                            <div class="row multiple-row">
                               
                                <div class="col-md-6 col-lg-6 changePointer">
                                     <a href="CarPolicy1.jsf">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <div>
                                                    <img src="assets1/images/avatar-2.jpg" class=" myProfileImg" alt="profile-image"/>                     
                                                    <hr/>
                                                    Name:<br/>
                                                    Phone no.:<br/>
                                                    Email:<br/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </a>
                                </div>
                                    
                                <div class="col-md-6 col-lg-6 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <div class="row">
                                                    <h4 class="col-md-10"><b>Personal Details</b></h4>
                                                    <div class="col-md-2">
                                                        <a href="userInfoform.jsf"><i class="fa fa-pencil"></i></a>
                                                    </div>
                                                </div>
                                                <hr/>                                    
                                                Address:<br/>
                                                Gender:<br/>
                                                DoB:<br/>
                                                Age:<br/>    
                                                Role:<br/>
                                                City:<br/>
                                                State:<br/>
                                                Pincode:<br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <div class="row">
                                                    <h4 class="col-md-10"><b>Bank Details</b></h4>
                                                    <div class="col-md-2">
                                                        <a href="userInfoform.jsf"><i class="fa fa-pencil"></i></a>
                                                    </div>
                                                </div>
                                                <hr/>
                                                Bank Name:<br/>
                                                Account Type:<br/>
                                                Account No.:<br/>
                                                Branch:<br/>
                                                IFSC Code:<br/>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <div class="row">
                                                    <h4 class="col-md-10"><b>Education Details</b></h4>
                                                    <div class="col-md-2">
                                                        <a href="userInfoform.jsf"><i class="fa fa-pencil"></i></a>
                                                    </div>
                                                </div> 
                                                <hr/>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        LC:<br/>
                                                        <img src="assets1/images/avatar-2.jpg" class="myotherimg"/>
                                                    </div>                                        
                                                    <div class="col-lg-6">
                                                        Mark Sheet:<br/>
                                                        <img src="assets1/images/avatar-2.jpg" class="myotherimg"/>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <div class="row">
                                                     <h4 class="col-md-10"><b>Family Details</b></h4>
                                                     <div class="col-md-2">
                                                         <a href="userInfoform.jsf"><i class="fa fa-pencil"></i></a>
                                                     </div>
                                                 </div> 
                                                <hr/>
                                                Name:<br/>
                                                Relation:<br/> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 changePointer">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="post-text-block bg-gray-light">
                                                <div class="row">
                                                    <h4 class="col-md-10"><b>Occupation Details</b></h4>
                                                    <div class="col-md-2">
                                                        <a href="userInfoform.jsf"><i class="fa fa-pencil"></i></a>
                                                    </div>
                                                </div> 
                                                <hr/>
                                                Occupation:<br/>
                                                Office Address:<br/>                                    
                                                Office Phone No.:<br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!--/main content wrapper -->
            </main>
        </div>
		<br/>
		<br/>
        <!-- footer of the pagse -->
         <ui:insert name="Footer">
                <ui:include src="Footer.xhtml" />
            </ui:insert>  
    </div>
        <!--/footer of the page -->    
     <!-- search form wrapper -->
    <div class="search-form-wrapper">
        <a href="#" class="nav-search-link close"><span class="waituk-icon-android-close"></span></a>
        <div class="holder">
<!--            <input type="search" class="form-control form-control-v1" placeholder="Enter Your Search">-->
             <button type="submit"><span class="waituk-icon-search"></span></button>
        </div>
    </div>

    <a href="#" class="section-scroll" id="scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <script src="js/MyJs.js" type="text/javascript"></script>
    <!-- jquery library -->
    <script src="vendors/jquery/jquery-2.1.4.min.js"></script>
    <!-- external scripts -->
    <script src="vendors/popper/popper.min.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/stellar/jquery.stellar.min.js"></script>
    <script src="vendors/isotope/javascripts/isotope.pkgd.min.js"></script>
    <script src="vendors/isotope/javascripts/packery-mode.pkgd.js"></script>
    <script src="vendors/owl-carousel/dist/owl.carousel.js"></script>
    <script src="vendors/waypoint/waypoints.min.js"></script>
    <script src="vendors/counter-up/jquery.counterup.min.js"></script>
    <!--<script src="vendors/fancyBox/source/jquery.fancybox.pack.js"></script>-->
    <!--<script src="vendors/fancyBox/source/helpers/jquery.fancybox-thumbs.js"></script>-->
    <script src="vendors/image-stretcher-master/image-stretcher.js"></script>
    <script src="vendors/wow/wow.min.js"></script>
    <script src="vendors/rateyo/jquery.rateyo.js"></script>
     <script src="vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
     <script src="vendors/bootstrap-slider-master/src/js/bootstrap-slider.js"></script> 
     <script src="vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script> 
    <script src="js/mega-menu.js"></script>
    <!-- custom jquery script -->
    <script src="js/jquery.main.js"></script>
    
    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
     <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
     <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
     <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
     <script type="text/javascript" src="vendors/rev-slider/revolution/js/extensions/revolution.extension.video.min.js"></script> 
    <!-- SNOW ADD ON -->
    <script type="text/javascript" src="vendors/rev-slider/revolution-addons/snow/revolution.addon.snow.min.js"></script>
        <!-- revolutions slider script -->
    <script src="js/revolution.js"></script>    
    
    </h:body>
</html>